* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: lightcyan;
    align-items: center;
    justify-content: center;
}

h1 {
    color: red;
    font-size: 5em;
    letter-spacing: 5px;
    text-transform: uppercase;
}
